<div class="container col-md-6">
    <h1 style="color: red;">Update User</h1>
     <form (ngSubmit)="onsubmit()">
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">User Name</label>
         <input type="text" class="form-control" id="email" name="email" required [(ngModel)]="user.userName" >
       </div>
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Phone</label>
         <input type="text" class="form-control" id="phone" name="phone" required [(ngModel)]="user.phoneNo">
       </div>
       <div class="mb-3">
           <label for="exampleFormControlInput1" class="form-label">User Email</label>
           <input type="email" class="form-control" id="mail" name="mail" required [(ngModel)]="user.userMail" >
         </div>
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Password</label>
         <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="user.password" >
       </div>
    
     <button type="submit" class="btn btn-success">Update User</button>
     </form>
   </div>
