<div class="container col-md-6">
    <h1 style="color: red;">Register User</h1>
     <form (ngSubmit)="userReg()">
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">UserId</label>
         <input type="number" class="form-control" id="userId" name="userId" [(ngModel)]="user.userId" >
       </div>
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">User Name</label>
         <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.userName" >
       </div>
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Phone</label>
         <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phoneNo">
       </div>
       <div class="mb-3">
           <label for="exampleFormControlInput1" class="form-label">User Email</label>
           <input type="email" class="form-control" id="mail" name="mail" [(ngModel)]="user.userMail" >
         </div>
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Password</label>
         <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" >
       </div>
       
     <button type="submit" class="btn btn-primary">Register</button>
     </form>
     <p> If Registered</p>
     <button type="submit" (click)="login()" class="btn btn-success">Login Here</button>
   </div>